
// Colors

$priColor1: #005050; 
$priColor2: #007575;
$priColor3: #23cfa7;
$priColor4: #009292;
$priColor5: #89d8c6;


$secColor1: #cccccc;
$secColor2: #eeeeee;

// Font
$priFont: 'Cherry Cream Soda';
$secFont: 'Bilbo Swash Caps';

