html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: 'Cherry Cream Soda', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    background-color: #eeeeee;
}

.row {
    /* clear: both; */
    display: flex;
    flex-wrap: wrap;
}
.limited {
    max-width: 1140px;
    margin: auto;
}

header {
    background-color: #cccccc;
}
header h1, header h2 {
    margin: 0;
    color: #fff; 
    font-weight: 300;
    /* font-style: italic; */
}
header h1 { 
	padding: .5rem 0 0 0; 
    font-size: 2.1rem;
    text-transform: uppercase;
}
header h2{
	padding: .2rem 0 0 0; 
    font-size:2.05rem; 
    font-family: 'Bilbo Swash Caps', cursive;   
}
header img {
    float: left; 
    height: 85px;
    padding-right: 10px; 
    
}

.hero-image {
    width: 100%;
    background-size: cover;
    background-position: center;
}

/*

.hero-image img {
    width: 100%;
    display: block;
}
.hero-image.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
*/

.bg-light {
    background-color: #23cfa7!important;
}

footer {
    background-color: #cccccc;
}